<aside>
	<div class="page-editor-sidebar-group">
		<div class="mb-1">
			<label for="editor-page-title">Title</label>
		</div>
		<input id="editor-page-title" class="form-control form-control-sm" type="text" name="page-title" placeholder="Page title">
	</div>

	<div class="page-editor-sidebar-group">
		<div class="mb-1">
			<label for="editor-page-title">Route</label>
		</div>
		<input id="editor-page-title" class="form-control form-control-sm" type="text" name="page-title" placeholder="Page title">
	</div>
</aside>