#admin-nav{
	display:flex;
	height:$admin-nav-height;
	background-color:rgb(29,29,29);

	.logo-c{
		padding:1px 3.5rem;
	}

	.links{
		a{
			height:100%;
			display:inline-flex;
			align-items:center;
			justify-content:center;
			text-decoration:none;
			padding:0 1.5rem;
			color:#cc2dcc;
			font-size:1.1rem;

			&:hover{
				color:white;
				background-color:purple;
			}
		}
	}
}

