<aside>
	<div class="logo-container">
		<a href="/"><img alt="Nox framework logo" src="/images/logo-s.png"></a>
	</div>
	<link-group>
		<link-wrap>
			<a href="/docs/1.x" title="Routing">Docs Home</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/quick-start" title="Quick Start">Installation</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/nox-configs" title="Quick Start">Nox Configuration Files</a>
			<link-wrap>
				<a href="/docs/1.x/nox-configs/json-config" title="JSON Configuration file">
					<i class="bi bi-chevron-right"></i>
					<span>nox.json</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/nox-configs/cache" title="Cache configuration file">
					<i class="bi bi-chevron-right"></i>
					<span>nox-cache.json</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/nox-configs/mime" title="Recognize mime types">
					<i class="bi bi-chevron-right"></i>
					<span>nox-mime.json</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/nox-configs/environment" title="Pseudo environment variables">
					<i class="bi bi-chevron-right"></i>
					<span>nox-env.php</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/nox-configs/request" title="URI request processor">
					<i class="bi bi-chevron-right"></i>
					<span>nox-request.php</span>
				</a>
			</link-wrap>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/static-file-serving" title="How to serve static files">Serving Static Files</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/routing" title="Routing">Routing</a>
			<link-wrap>
				<a href="/docs/1.x/routing/redirecting-rewriting" title="Rewriting and redirecting requests">
					<i class="bi bi-chevron-right"></i>
					<span>Rewrites &amp; Redirects</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/routing/custom-route-method-attribute" title="Routing">
					<i class="bi bi-chevron-right"></i>
					<span>Custom Attributes</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/routing/dynamic-routing" title="Dynamic routing">
					<i class="bi bi-chevron-right"></i>
					<span>Dynamic Routes</span>
				</a>
			</link-wrap>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/layouts" title="Routing">Layouts</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/views" title="Routing">Views</a>
			<link-wrap>
				<a href="/docs/1.x/views/view-scope" title="Providing variables directly to views">
					<i class="bi bi-chevron-right"></i>
					<span>View Scope</span>
				</a>
			</link-wrap>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/orm" title="Nox's ORM - Abyss">ORM (Abyss)</a>
			<link-wrap>
				<a href="/docs/1.x/orm/models" title="Building and maintaining MySQL models">
					<i class="bi bi-chevron-right"></i>
					<span>Models</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/orm/model-class-instances" title="Model classes to represent database rows">
					<i class="bi bi-chevron-right"></i>
					<span>Model Instances</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/orm/making-queries" title="Making queries on model class instances">
					<i class="bi bi-chevron-right"></i>
					<span>Model Class Queries</span>
				</a>
				<link-wrap>
					<a href="/docs/1.x/orm/making-queries/query-clauses" title="Query clause classes">
						<i class="bi bi-chevron-right"></i>
						<span>Query Clauses</span>
					</a>
				</link-wrap>
			</link-wrap>
		</link-wrap>
		<link-wrap>
			<a href="#" title="How-To Guides">How-Tos</a>
			<link-wrap>
				<a href="/docs/1.x/how-to/fetching-available-routes" title="Fetching all available route URIs">
					<i class="bi bi-chevron-right"></i>
					<span>Get All Routes (Sitemap)</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="#" title="">
					<i class="bi bi-chevron-right"></i>
					<span>User Authentication</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/how-to/syncing-models" title="Synchronizing PHP Models to MySQL database">
					<i class="bi bi-chevron-right"></i>
					<span>Sync Models to MySQL</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/how-to/rest-api-processing" title="Creating a RESTful API endpoint">
					<i class="bi bi-chevron-right"></i>
					<span>REST API Processing</span>
				</a>
			</link-wrap>
		</link-wrap>
	</link-group>
</aside>