$docs-nav-search-input-color:rgb(100,100,100);

#docs-nav-search{
	display:flex;
	align-items:center;
	padding-right:35px;
}

#docs-nav-search-container{
	display:inline-flex;
	color:$docs-nav-search-input-color;
	align-items:center;
	border-bottom: 1px solid $docs-nav-search-input-color;

	label{
		padding-right:8px;
	}

	input {
		background: none;
		border:none;
		font-size:1.15rem;
		color:$docs-nav-search-input-color;
		width:300px;

		&:focus, &:active{
			outline:none;
		}
	}
}

