<aside>
	<div class="logo-container">
		<a href="/"><img alt="Nox framework logo" src="/images/logo-s.png"></a>
	</div>
	<link-group>
		<link-wrap>
			<a href="/docs/1.x" title="Routing">Docs Home</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/quick-start" title="Quick Start">Installation</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/routing" title="Routing">Routing</a>
			<link-wrap>
				<a href="/docs/1.x/routing/custom-route-method-attribute" title="Routing">
					<i class="bi bi-chevron-right"></i>
					<span>Custom Attributes</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/routing/dynamic-routing" title="Dynamic routing">
					<i class="bi bi-chevron-right"></i>
					<span>Dynamic Routes</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/routing/fetching-available-routes" title="Fetching all available route URIs">
					<i class="bi bi-chevron-right"></i>
					<span>Fetching All Route URIs</span>
				</a>
			</link-wrap>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/layouts" title="Routing">Layouts</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/views" title="Routing">Views</a>
			<link-wrap>
				<a href="#" title="Providing variables directly to views">
					<i class="bi bi-chevron-right"></i>
					<span>View Scope</span>
				</a>
			</link-wrap>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/orm" title="Nox's ORM - Abyss">ORM (Abyss)</a>
			<link-wrap>
				<a href="#" title="">
					<i class="bi bi-chevron-right"></i>
					<span>Models</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="#" title="">
					<i class="bi bi-chevron-right"></i>
					<span>Model Instances</span>
				</a>
			</link-wrap>
			<link-wrap>
				<a href="#" title="">
					<i class="bi bi-chevron-right"></i>
					<span>Making Queries</span>
				</a>
				<link-wrap>
					<a href="#" title="">
						<i class="bi bi-chevron-right"></i>
						<span>Query Clauses</span>
					</a>
				</link-wrap>
			</link-wrap>
		</link-wrap>
	</link-group>
</aside>