<aside>
	<div class="logo-container">
		<a href="/"><img alt="Nox framework logo" src="/images/logo-s.png"></a>
	</div>
	<link-group>
		<link-wrap>
			<a href="/docs/1.x/quick-start" title="Quick Start">Quick Start</a>
		</link-wrap>
	</link-group>
	<link-group>
		<link-wrap>
			<a href="/docs/1.x" title="Routing">Docs Home</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/routing" title="Routing">Routing</a>
			<link-wrap>
				<a href="/docs/1.x/routing/custom-route-method-attribute" title="Routing">Custom Attributes</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/routing/dynamic-routing" title="Dynamic routing">Dynamic Routes</a>
			</link-wrap>
			<link-wrap>
				<a href="/docs/1.x/routing/fetching-available-routes" title="Fetching all available route URIs">Fetching All Route URIs</a>
			</link-wrap>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/layouts" title="Routing">Layouts</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/views" title="Routing">Views</a>
		</link-wrap>
		<link-wrap>
			<a href="/docs/1.x/orm" title="ORM">Abyss (ORM)</a>
		</link-wrap>
	</link-group>
</aside>