<nav id="home-nav">
	<div class="logo-c">
		<img height="64" alt="Nox PHP framework logo" src="/images/logo-s.png">
	</div>
	<div class="links">
		<a href="/docs/1.x" title="Nox framework documentation">Documentation</a>
		<a href="/docs/1.x/quick-start" title="Introduction to the framework">Quick Start</a>
	</div>
	<div class="search-container">
		<form id="home-top-search" action="/docs/1.x/search" method="get">
			<div id="home-top-search-field-container">
				<label for="home-top-search-input"><i class="bi bi-search"></i></label>
				<input name="query" type="text" id="home-top-search-input" placeholder="Search docs">
			</div>
		</form>
	</div>
</nav>