home-page{
	display:block;
	width:100%;
	p{
		font-size:1.09rem;
		color:rgb(45,45,45);
	}

	.s-1, .s-2{
		padding:2.5rem;
		display:flex;
		justify-content: center;
		width:100%;

		p{
			color:rgb(50,50,50);
			font-size:1.05rem;
			line-height:1.88rem;
		}


		& > div{
			max-width:1450px;
		}

		& h2{
			font-size:3rem;
			margin-bottom:1.5rem;
		}

	}

	.s-1{
		img{
			margin-left:2rem;
		}
		h2{
			padding-top:unset !important;
		}
	}

	.s-2{
		h2{
			padding-top:unset !important;
		}
	}

	.s-3{
		background-color:#212529;
		padding:100px 1.5rem;
		text-align:center;
		color:white;
		h3{
			font-size:3rem;
			color:map-get($theme-colors, primary);
		}
	}

	.s-4{
		padding:75px 1.5rem;
	}
}

carbon-fiber{
	display:block;
	background-color:rgb(70,70,70);
	padding:100px 1rem;
	background-image:url(/images/diamonds.png);
	box-shadow:0 0 10rem 0.1rem rgb(0 0 0 / 20%) inset;

	.home-bg-logo-container{
		margin-bottom:40px;
		img{
			height:290px;
		}
	}

	h1, h3{
		text-align:center;
		color:white;
	}
}

@media (max-width:map-get($grid-breakpoints, xl)){
	.s-1, .s-2{
		padding:1rem;
	}

	.s-1{
		img{
			margin-left:unset;
		}
	}
}