blog-style-content{
	h2{
		font-size:2.25rem;
		letter-spacing:0.07rem;
		padding-bottom:46px;
	}

	p, ul > li{
		font-size:1.15rem !important;
		letter-spacing:0.035rem;
	}

	a{
		color:map-get($theme-colors, primary);
		text-decoration: none;
	}
}