footer{
	background-color:darken(map-get($theme-colors, dark), 1%);
	color:white;
	padding:1rem 1rem 2rem 1rem;
	text-align:center;
	p:last-of-type{
		margin-bottom:0;
	}

	a{
		color:$nox-purple;
		text-decoration: none;
		&:hover{
			color:white;
		}
	}
}