@import "page-content";

page-container{
	display:flex;
	min-height:100vh;

	& > main{
		width:100%;
		flex-grow:1;
		overflow:auto;
		padding:0 5.5rem 100px 5.5rem;
	}
}

code{
	background-color:map-get($theme-colors, dark);
	color:white;
	padding:3px;
	border-radius:3px;
}