page-container > aside{
	background-color:rgb(60,60,60);
	width:275px;
	min-width:275px;
}

.logo-container{
	text-align:center;
	padding:25px 1rem;
}

link-group{
	display:block;
}

link-wrap{
	display:block;
	a{
		display:block;
		text-decoration:none;
		padding:0.5rem 2rem;
		font-size:1.1rem;
		color:white;

		&:hover{
			transition:background-color 100ms;
			background-color:purple;
			text-decoration:none;
			color:white;
		}
	}
	link-wrap{
		a{
			padding-left:2.75rem;
			font-size:0.95rem;
		}
	}
}