@keyframes open-docs-drawer-small-screen{
	from{
		left:-$docs-sidebar-width;
	}

	to{
		left:0;
	}
}

#docs-sidebar{
	background-color:$secondary-bg-color;
	max-width:$docs-sidebar-width;
	width:$docs-sidebar-width;
	min-width:$docs-sidebar-width;
}

#docs-sidebar-heading-container{
	margin:0.75rem;
	text-align:center;
	border:1px solid $nox-purple;
	border-radius:0.5rem;
	padding:1rem;

	h4{
		font-weight:bold;
		margin:0;
	}
}

#docs-version-selector-container{
	margin:0.75rem 0.75rem 1.5rem 0.75rem;
}

link-group{
	display:flex;
	flex-direction:column;

	& > link-wrap{
		display:flex;
		flex-direction: column;

		& > a{
			padding:0.5rem;
			margin:0.25rem 0.5rem;
			color:darken($secondary-bg-text-color, 10%);
			text-decoration:none;
			border-radius:0.25rem;

			&:hover{
				background-color:darken($nox-purple, 20%);
				color:$secondary-bg-text-color;
			}
		}

		& > link-wrap{
			display:flex;
			flex-direction: column;
			font-size:0.85rem;
			margin-left:1.5rem;
			& > a{
				max-width:100%;
				overflow:hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding:0.5rem;
				margin:0.25rem 0.5rem;
				color:darken($secondary-bg-text-color, 20%);
				text-decoration:none;
				border-radius:0.25rem;

				&:hover{
					background-color:darken($nox-purple, 20%);
					color:$secondary-bg-text-color;
				}
			}
		}
	}
}

@media (max-width:map-get($grid-breakpoints, xl)){
	#docs-sidebar{
		position:absolute;
		left:0;
		top:$small-nav-height;
		z-index:map-get($z-index-map, docs-small-nav-drawer);
		max-height:calc(100% - #{$small-nav-height});

		&.small-nav-closed{
			display:none;
			left:-$small-nav-height;
		}

		&.small-nav-opened{
			display:flex;
			animation:open-docs-drawer-small-screen 150ms 1;
			animation-fill-mode: forwards;
			flex-direction:column;
		}

		& > link-group{
			overflow:auto;
		}
	}

	#docs-sidebar-backdrop{
		position:absolute;
		z-index:map-get($z-index-map, docs-small-nav-backdrop);
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.35);
	}
}