page-result{
	display:block;

	h3{
		margin-bottom:3px;
		padding:0;
		a{
			text-decoration: none;
		}
	}

	.uri{
		color:green;
		margin:0;
	}

	.body-preview{
		font-size:1rem;
	}

	.query-result-in-body{
		background-color:yellow;
	}
}

