@Layout = "home.php"
@Head{
	<title>Home Page</title>
}
@Body{
	<home-page>
		<carbon-fiber>
			<div></div>
			<section>
				<div class="text-center home-bg-logo-container">
					<img alt="Nox PHP logo" src="/images/logo-m.png">
				</div>
				<h1>The PHP 8.0+ Result-Oriented Framework</h1>
				<h3>The simplest answer is always the correct one</h3>
			</section>
		</carbon-fiber>
		<main>
			<section class="s-1">
				<h2>Nox Philosophy</h2>
				<p>
					The Nox framework was designed against the grain of "do everything" frameworks. Typically, larger frameworks come with a lot of baggage and just aren't suited for small or quick projects. They're also very opinionated in how you must build your web application.
				</p>
				<p>
					You will find that the Nox PHP framework has a very minimal learning curve and footprint on your projects. Nox follows a standard MVC (model-view-controller) architecture for your applications. By using Nox, you will be able to have a modularized and stable web application, but with your own opinions on how to construct your own application.
				</p>
			</section>
			<content-banner class="bg-dark">
				<h3>On 800+ Production Websites</h3>
				<p>
					Nox is the backbone of <a target="_blank" href="https://www.footbridgemedia.com" title="Footbridge Media: Contractor marketing company">Footbridge Media's proprietary CMS <i class="bi bi-box-arrow-up-right"></i></a> that powers almost all of their clients.
				</p>
			</content-banner>
			<h2>Why PHP 8?</h2>
			<p>
				By being conservative with the minimum PHP version support, the end-resulting syntax that Nox uses is more streamlined and understandable. Nox makes use of PHP 8's attributes to handle request routing. This avoids the needs for strange PHPDoc block attribute routing or registering routes within some abstract class. See how MVC routing with PHP 8 attributes is done by viewing the <a href="/docs/1.x/routing" title="MVC routing in Nox PHP">routing docs</a>.
			</p>

		</main>
	</home-page>
}