home-page{
	display:block;
	p{
		font-size:1.09rem;
		color:rgb(45,45,45);
	}
	.s-1{
		max-width:1280px;
		margin:45px auto;
	}
}

carbon-fiber{
	display:block;
	background-color:rgb(40,40,40);
	padding:100px 1rem;
	/*background-image:url(/images/nox-bg-crop-squooshed.jpg);
	background-size:cover;*/

	.home-bg-logo-container{
		margin-bottom:40px;
		img{
			height:290px;
		}
	}

	h1, h3{
		text-align:center;
		color:white;
	}
}