

page-container > aside{
	background-color:rgb(60,60,60);
	width:$docs-v1-sidebar-width;
	min-width:$docs-v1-sidebar-width;
}

.logo-container{
	text-align:center;
	padding:25px 1rem;
}

link-group{
	display:block;
	padding-bottom:20px;
}

link-wrap{
	display:block;
	a{
		display:block;
		text-decoration:none;
		padding:0.5rem 2rem;
		font-size:1rem;
		color:white;

		&:hover{
			transition:background-color 100ms;
			background-color:purple;
			text-decoration:none;
			color:white;
		}
	}
	& > link-wrap{
		margin-bottom:0;
		a{
			padding-left:4rem;
			font-size:0.925rem;
			color:rgb(215,215,215);
		}

		& > link-wrap{
			margin-bottom:0;
			a{
				padding-left:6rem;
				font-size:0.9rem;
				color:rgb(190,190,190);
			}
		}
	}
}